

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(43, 0, 78, 0.98), rgba(0, 0, 0, 0.96));
  color: white;
}

.balls{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.LightBall{
  width: 20px;
  height: 20px;
}

.utilities {
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
}

.text-light{
  font-size: 3rem;
  text-align : center;
  animation: glow-text 3s infinite;
}
@keyframes glow-text {
  0%,
  100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 60px #00ff00;
  }
}

.utilities button {
  height: 75px;
  width: 75px;
  background: none;
  color: white;
  outline: none;
  border: 2px solid rgb(33, 139, 11);
  border-radius: 10px 2px 10px 2px;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  transform-style: preserve-3d;
}
.utilities button:hover {
  background: rgb(64, 4, 133);
  border-radius: 2px 30px 2px 30px;
  transform: translate(0, 0.375em);
  animation: glow-button 1s infinite;
}

@keyframes glow-button {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 20px 5px #2ecc71;
  }
}
.utilities button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}
.utilities button:active {
  transform: translate(0em, 0.75em);
  border-radius: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  

}
.footer a{
  color:rgb(33, 139, 11)
}
